.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color:yellow;
  font-size: clamp(30px , 5vw ,100px);
}









body{
    background-color: black;
}
h1,h2{
   color: white;
}
p{
    color: white;
}
#label{
    text-align: center;
    color: rgb(255, 255, 0);
    font-size: clamp(30px , 2.4vw , 72px);
    font-family: 'Playfair Display', serif;
    word-spacing: 3px;
    margin-bottom: 0px;
}
#label_expresso{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: clamp(12px , 2vw ,22px);
    font-family: 'Playfair Display', serif;

}

#bassed_value{
    text-align: center;
    font-size: clamp(15.2px , 1.5vw , 22px);
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 4px;
}
#iced_label{
    text-align: center;
     font-size: clamp(18px , 3vw ,52px);
     padding-top: 40px;
     font-family: 'Playfair Display', serif;
     word-spacing: 3px;
     font-weight: 600;
     padding-bottom: 22px;
     color: yellow;
}
#iced_value{
    text-align: center;
    font-size: clamp(15.2px , 1.5vw , 22px);
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 4px;
}
#specific_label{
 text-align: center;
     font-size: clamp(18px , 3vw ,52px);
     padding-top: 40px;
     font-family: 'Playfair Display', serif;
     word-spacing: 3px;
     font-weight: 600;
     padding-bottom: 22px;
     color: yellow;
}

#specific_value{
    text-align: center;
    font-size: clamp(15.2px , 1.5vw , 22px);
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 4px;
}


@media (max-width: 600px) {
#bassed_value{
    font-size: 14px;
}
}
